<div class="money-flow-chart">
  <div *ngIf="monthlyFlowData.length === 0" class="no-data">No data available</div>
  <div class="chart-container" *ngIf="monthlyFlowData.length > 0">
    <div class="bar-group" *ngFor="let item of sortedData">
      <div class="bars">
        <div
          class="bar inflow"
          [style.height.%]="getBarHeightPercent(item.inflow)"
          [title]="'Inflow: ' + item.inflow + ' ' + item.currency">
        </div>
        <div
          class="bar outflow"
          [style.height.%]="getBarHeightPercent(item.outflow)"
          [title]="'Outflow: ' + item.outflow + ' ' + item.currency">
        </div>
      </div>
      <div class="bar-label">{{ item.month }}</div>
      <div class="bar-values">
        <span class="inflow-val">+{{ item.inflow | number:'1.0-0' }}</span>
        <span class="outflow-val">-{{ item.outflow | number:'1.0-0' }}</span>
      </div>
    </div>
  </div>
  <div class="legend">
    <span class="legend-inflow">&#9632; Inflow</span>
    <span class="legend-outflow">&#9632; Outflow</span>
  </div>
</div>
