<div class="money-flow-chart">
  @if (monthlyFlowData().length === 0) {
    <div class="no-data">No data available</div>
  }
  @if (monthlyFlowData().length > 0) {
    <div class="chart-container">
      @for (item of sortedData; track item.month) {
        <div class="bar-group">
          <div class="bars">
            <div
              [style.height.%]="getBarHeightPercent(item.inflow)"
              [title]="'Inflow: ' + item.inflow + ' ' + item.currency"
              class="bar inflow"
            ></div>
            <div
              [style.height.%]="getBarHeightPercent(item.outflow)"
              [title]="'Outflow: ' + item.outflow + ' ' + item.currency"
              class="bar outflow"
            ></div>
          </div>
          <div class="bar-label">{{ item.month }}</div>
          <div class="bar-values">
            <span class="inflow-val">+{{ item.inflow | number: '1.0-0' }}</span>
            <span class="outflow-val">-{{ item.outflow | number: '1.0-0' }}</span>
          </div>
        </div>
      }
    </div>
  }
  <div class="legend">
    <span class="legend-inflow">&#9632; Inflow</span>
    <span class="legend-outflow">&#9632; Outflow</span>
  </div>
</div>
